.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one {
    background-color: #efb762;
    width: 425px;
    height: 150px;
    margin: 20px auto;
    /* padding: 1px; */
    overflow: hidden;
}

.two {
    background-color: #8f0401;
    width: 475px;
    height: 200px;
    margin: auto;
}

.three {
    background-color: #b20403;
    width: 91%;
    height: 28%;
    margin: auto;
    /* padding: 1px; */
    overflow: hidden;
}